@import "tailwindcss";

:root {
  --background: #eddaad;
  --foreground: #221d16;
  --foregroundSecondary: #221d16ab;
  --primaryColor: #b89654;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foregroundSecondary: var(--foregroundSecondary);
  --color-primaryColor: var(--primaryColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eddaad;
    --foreground: #221d16;
    --foregroundSecondary: #221d165d;
    --primaryColor: #b89654;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.layout_component {
  width: 100%;
  background-color: var(--foreground);
  color: var(--background);
  padding: 20px;
}

.template {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 80px;
}

.organism {
  grid-column-start: 2;
  grid-column-end: 10;
  padding: 40px 0;
}

.text_route_molecule {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@layer components {
  .image-card {
    @apply sepia-100 hover:sepia-0 duration-300 cursor-pointer border-2 border-primaryColor rounded-lg object-cover object-center;
  }
}
